<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
    </head>
    <body>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
            eaque provident quas commodi sint quidem similique ipsam inventore
            vero perferendis perspiciatis cumque dolorum ipsa exercitationem
            optio ea minus modi accusamus, repellendus nisi facere, velit
            voluptatum. Veritatis quaerat dolores, illo ipsam, minima
            perferendis aliquid eius similique deserunt ab sunt esse
            praesentium! Ipsum, molestias recusandae, aliquid, nemo quidem eos
            enim deserunt ullam magnam ea incidunt voluptas dignissimos!
            Accusantium delectus, quibusdam natus, reprehenderit fuga libero
            sunt tenetur odio incidunt blanditiis quidem facilis nemo esse
            consequatur optio. Dolores, consectetur et ipsa totam saepe tenetur
            deserunt magnam consequatur ducimus error perspiciatis maiores earum
            quasi sint!
        </div>
    </body>
</html>
